
@{
    ViewBag.Title = "Licenzia";
}
<html>
<head>

</head>

<body lang=RU style='padding:10px 20px; tab-interval:35.4pt'>

    <div class=WordSection1>

        <p class=MsoNormal>ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ  </p>



        <p class=MsoNormal>НА ИСПОЛЬЗОВАНИЕ ПРОГРАММЫ ДЛЯ ЭВМ </p>



        <p class=MsoNormal>«<i>Axatel</i>» </p>



        <p class=MsoNormal>
            Уважаемый Пользователь! <span class=GramE>
                Перед началом
                установки,
            </span> копирования либо иного использования ПО внимательно
            ознакомьтесь с условиями настоящего Соглашения, являющегося стандартной формой
            договора присоединения и заключаемого в письменной или иной форме, предусмотренной
            действующим законодательством Российской Федерации. Если вы не согласны с
            условиями настоящего Соглашения, вы не можете использовать ПО. Установка,
            запуск или иное начало использования ПО означает Ваше полное согласие со всеми
            условиями настоящего Соглашения и его надлежащее заключение в порядке,
            предусмотренном в пункте 3 статьи 1286 Гражданского Кодекса Российской
            Федерации. Настоящее Соглашение является юридически обязательным соглашением,
            если Вы не согласны принять на себя его условия, Вы не имеете права
            устанавливать ПО и должны удалить все его компоненты со своего портала
            Битрикс24.
        </p>



        <p class=MsoNormal>
            Настоящее Лицензионное соглашение (далее – Соглашение)
            заключается ЧП "Аксата" (далее – Лицензиар) и
            Пользователем (любым физическим лицом, индивидуальным предпринимателем,
            юридическим лицом (далее – Пользователь) Программы для ЭВМ «<i>Axatel</i>»
            (далее – ПО).
        </p>



        <p class=MsoNormal>Основные термины настоящего Соглашения: </p>



        <p class=MsoNormal>
            ПО – программа для ЭВМ «<i>Axatel</i>» (как в целом,
            так и ее компоненты), исключительные имущественные права на которую на
            территории, определенной в п. 1.4. Соглашения, принадлежат Лицензиару;
        </p>



        <p class=MsoNormal>
            <span class=SpellE>Демо</span>-версия ПО – версия ПО «<i>Axatel</i>», в которой установлено ограничение по сроку ее использования и которая
            предназначена исключительно для самостоятельного ознакомления Пользователем с
            функциональными возможностями ПО на условиях настоящего Соглашения и не
            предназначена для продажи или иного отчуждения третьим лицам.
        </p>



        <p class=MsoNormal>1. Предмет СОГЛАШЕНИЯ </p>



        <p class=MsoNormal>
            1.1. В порядке и на условиях, предусмотренных настоящим
            Соглашением, Лицензиар предоставляет Пользователю право использования ПО
            (простая неисключительная лицензия), реализуемое путем установки (инсталляции)
            и запуска Пользователем ПО в соответствии с его технической документацией и
            условиями настоящего Соглашения.
        </p>



        <p class=MsoNormal>
            1.2. Все положения настоящего Соглашения распространяются
            как на ПО в целом, так и на его отдельные компоненты. ПО лицензируется как
            единая программа для ЭВМ, его компоненты не могут быть разделены и
            использоваться на разных порталах Битрикс24.
        </p>



        <p class=MsoNormal>
            1.3. Настоящее Соглашение заключается до или непосредственно
            в момент начала использования ПО и действует на протяжении всего срока действия
            исключительного права Лицензиара на ПО, при условии надлежащего выполнения
            Пользователем условий настоящего Соглашения.
        </p>



        <p class=MsoNormal>
            1.4. Лицензиар предоставляет Пользователю право
            использования ПО на территории следующих стран Российская Федерация, Украина,
            Республика Беларусь, Республика Казахстан, Киргизская Республика, Республика
            Узбекистан, Туркменистан, Республика Таджикистан, Литовская Республика,
            Латвийская Республика, Эстонская Республика, Республика Молдова, Грузия,
            Республика Армения, Республика Азербайджан на условиях и в порядке,
            предусмотренных действующим законодательством Российской Федерации и настоящим
            Соглашением.
        </p>



        <p class=MsoNormal>2. Авторские права </p>



        <p class=MsoNormal>
            2.1. ПО является результатом интеллектуальной деятельности и
            объектом авторских прав как программа для ЭВМ, которые регулируются и защищены
            законодательством Российской Федерации об интеллектуальной собственности и
            нормами международного права.
        </p>



        <p class=MsoNormal>
            2.2. ПО содержит коммерческую тайну и иную конфиденциальную
            информацию, принадлежащую Лицензиару. Любое использование ПО в нарушение
            условий настоящего Соглашения рассматривается как нарушение прав Лицензиара и
            является достаточным основанием для лишения Пользователя предоставленных по
            настоящему Соглашению прав.
        </p>



        <p class=MsoNormal>
            2.3. Лицензиар гарантирует, что обладает всеми правами
            использования ПО, включая документацию к ней, необходимыми для предоставления
            Пользователю прав на использование ПО <span class=SpellE>по</span> настоящему
            Соглашению.
        </p>



        <p class=MsoNormal>
            2.4. В случае нарушения авторских прав предусматривается
            ответственность в соответствии с действующим законодательством Российской
            Федерации.
        </p>



        <p class=MsoNormal>3. Условия использования ПО и ограничения </p>



        <p class=MsoNormal>
            3.1. Настоящее Соглашение предоставляет право установки
            (инсталляции), запуска и использования законно приобретенной одной копии ПО в
            рамках его функциональных возможностей на одном портале Битрикс24.
        </p>



        <p class=MsoNormal>
            3.2. Пользователь имеет право, уведомив Лицензиара,
            однократно уступить (передать) свои права и обязанности по настоящему
            Соглашению другому Пользователю в полном объеме, кроме предусмотренного в
            настоящем пункте Соглашения права последующей уступки (передачи) прав по
            настоящему Соглашению другим Пользователям, что ограничивает возможность
            повторной передачи прав по настоящему Соглашению. Указанная уступка (передача) прав
            и обязанностей осуществляется при условии полного и безоговорочного согласия
            нового пользователя со всеми положениями и условиями настоящего Соглашения.
            Передавая права использования ПО, Пользователь обязуется полностью уничтожить
            все копии ПО, установленные на компьютерах Пользователя, включая резервные
            копии. Пользователь обязан предоставить полные данные нового Пользователя для
            перерегистрации на него прав использования ПО в соответствии с настоящим
            Соглашением.
        </p>



        <p class=MsoNormal>
            Уступка (передача) прав по настоящему Соглашению не может
            быть осуществлена (i) косвенно или через какое-либо третье лицо, а также (<span class=SpellE>ii</span>) в случае использования Пользователем <span class=SpellE><span class=GramE>Демо</span></span><span class=GramE>-версии</span>
            ПО, в отношении которой устанавливается полный запрет отчуждения первоначальным
            Пользователем.
        </p>



        <p class=MsoNormal>
            3.3. Пользователь вправе изменять, добавлять или удалять
            любые файлы приобретенного ПО только в случаях, предусмотренных
            Законодательством Российской Федерации об авторском праве.
        </p>



        <p class=MsoNormal>
            3.4. Запрещается удалять любую информацию об авторских
            правах.
        </p>



        <p class=MsoNormal>
            3.5. Запрещается любое использование ПО, противоречащее
            действующему законодательству Российской Федерации.
        </p>



        <p class=MsoNormal>4. Ответственность сторон </p>



        <p class=MsoNormal>
            4.1. За нарушение условий настоящего Соглашения наступает
            ответственность, предусмотренная законодательством Российской Федерации.
        </p>



        <p class=MsoNormal>
            4.2. Лицензиар не несет ответственности перед Пользователем
            за любой ущерб, любую потерю прибыли, информации или сбережений, связанных с
            использованием или с невозможностью использования ПО, даже в случае
            предварительного уведомления со стороны Пользователя о возможности такого
            ущерба, или по любому иску третьей стороны.
        </p>



        <p class=MsoNormal>5. Ограниченная гарантия </p>



        <p class=MsoNormal>
            5.1. Лицензиар предоставляет Пользователю право получения
            Технической поддержки консультирования Пользователя по вопросам, связанным с
            функциональностью ПО, особенностями установки и эксплуатации на стандартных
            конфигурациях поддерживаемых (популярных) операционных, почтовых и иных систем
            на условиях и в течение всего срока действия настоящего Соглашения, а также в
            соответствии с действующим законодательством Российской Федерации без выплаты
            дополнительного вознаграждения.
        </p>



        <p class=MsoNormal>
            5.2. Все обновления ПО являются ее неотъемлемой частью и
            используются исключительно вместе с ПО как единая программа для ЭВМ в порядке,
            предусмотренном в настоящем Соглашении, если иные условия использования таких
            обновлений не будут предусмотрены в отдельном лицензионном договоре.
        </p>



        <p class=MsoNormal>
            5.3. Если при использовании ПО будут обнаружены ошибки,
            Лицензиар обязуется исправить их в максимально короткие сроки и выпустить
            новую, исправленную версию ПО. Стороны соглашаются, что точное определение
            срока устранения ошибки не может быть установлено, так как ПО тесно
            взаимодействует с другими программами для ЭВМ сторонних разработчиков,
            операционной системой и аппаратными ресурсами компьютера Пользователя, и
            работоспособность и время устранения проблем в полной мере не зависят только от
            Лицензиара.
        </p>



        <p class=MsoNormal>
            5.4. В случае несоблюдения любого из пунктов раздела 3
            настоящего Соглашения, Пользователь автоматически теряет право на получение
            обновлений (новых версий) ПО.
        </p>



        <p class=MsoNormal>6. Действие, изменение и расторжение СОГЛАШЕНИЯ </p>



        <p class=MsoNormal>
            6.1. Настоящее Соглашение заключено и подлежит толкованию в
            соответствии с законодательством Российской Федерации.
        </p>



        <p class=MsoNormal>
            6.2. В случае нарушения Пользователем условий настоящего
            Соглашения по использованию ПО Лицензиар имеет право в одностороннем порядке
            расторгнуть настоящее Соглашение, уведомив об этом Пользователя.
        </p>



        <p class=MsoNormal>
            6.3. При расторжении настоящего Соглашения Пользователь
            обязан прекратить использование ПО полностью и уничтожить все копии ПО,
            установленные на своем портале Битрикс24, включая резервные копии и все
            компоненты ПО.
        </p>



        <p class=MsoNormal>
            6.4. Пользователь вправе расторгнуть настоящее Соглашение в
            любое время, полностью удалив ПО.
        </p>



        <p class=MsoNormal>
            6.5. В случае если компетентный суд признает какие-либо
            положения настоящего Соглашения недействительными, Соглашение продолжает
            действовать в остальной части.
        </p>



        <p class=MsoNormal>
            6.6. Настоящее Соглашение также распространяется на все
            обновления (новые версии) ПО, предоставляемые Пользователю в течение срока его
            действия, если только при обновлении ПО Пользователю не будет предложено
            ознакомиться и принять отдельный лицензионный договор или дополнения к
            настоящему Соглашению.
        </p>



        <p class=MsoNormal>7. Контактная информация</p>
        <p class=MsoNormal>
            ЧП "Аксата",  Республика Беларусь
            220125, г. Минск, ул. Ложинская, д. 9, секция 1,
            Тел.: 375 (17) 388-04-55 Email: office@axata.by
        </p>


    </div>

</body>

</html>

