

<html>
<body lang=RU link="#0563C1" vlink="#954F72" style='padding:10px 20px; tab-interval:35.4pt'>

    <div class=WordSection1>





        <p class=MsoNormal>Условия о конфиденциальности персональной информации</p>



        <p class=MsoNormal>
            ЧП "Аксата" (далее – Компания)
            уважает право каждого человека на конфиденциальность.
        </p>



        <p class=MsoNormal>
            Для использования некоторых служб, программ и продуктов
            Компании (далее — Продукты Компании) может понадобиться прохождение процедуры
            регистрации или предоставление персональной информации Компании. Регистрация
            может понадобиться для доступа к некоторым функциям программ или участия в
            рекламных акциях. Условия о конфиденциальности содержат пояснения, как
            используется такая информация. Внимательно ознакомьтесь с настоящими Условиями
            о конфиденциальности и при необходимости задайте вопросы.
        </p>



        <p class=MsoNormal>
            Настоящие Условия о конфиденциальности регулируют отношения
            между Компанией и любым физическим лицом, индивидуальным предпринимателем,
            юридическим лицом (далее – Пользователь) по обработке Персональной информации,
            включая, помимо прочего, сбор, использование, сохранение и безопасность
            предоставленной Пользователем и/или собранной у Пользователя информации.
            Действие настоящих Условий о конфиденциальности распространяются на всю
            информацию, которую Компания и/или его аффилированные или иные уполномоченные
            лица, действующие от имени Компании, могут получить о Пользователе во время
            использования им любого из Продуктов Компании.
        </p>



        <p class=MsoNormal>
            Обращаем Ваше внимание: использование Продуктов Компании
            означает Ваше полное согласие со всеми положениями настоящих Условий о
            конфиденциальности и указанными в них условиями обработки Вашей персональной
            информации. Если Вы не согласны безоговорочно принять все положения настоящих
            Условий о конфиденциальности, Вы не имеете права использовать Продукты Компании
            и должны удалить все их компоненты со своего компьютера (ЭВМ).
        </p>



        <p class=MsoNormal>
            1. Персональная информация, собираемая и обрабатываемая
            Компанией в рамках настоящих Условий о конфиденциальности <span class=GramE>
                под
                персональной информацией
            </span> понимается:
        </p>



        <p class=MsoNormal>
            1.1. Информация (включая, но не ограничиваясь, персональные
            данные), которую Пользователь самостоятельно предоставляет Компании при
            осуществлении действий, направленных на регистрацию Продуктов Компании (в <span class=SpellE>т.ч</span>. активация) либо в рамках их использования (в <span class=SpellE>т.ч</span>. создание учетной записи, обращение в службу
            поддержки). Информация предоставляется путем заполнения Пользователем
            соответствующих форм, при этом объем предоставления информации при заполнении
            необязательных полей указанных форм определяется Пользователем самостоятельно.
        </p>

        <p class=MsoNormal>
            1.2. Информация, получаемая автоматически при использовании
            Продуктов Компании Пользователем, в <span class=SpellE>т.ч</span>. из <span class=SpellE>cookies</span> (при загрузке материалов сайтов Компании,
            автоматически проверяются сведения о системе Пользователя; при использовании
            инструментов общения Пользователем, могут быть сохранены материалы и сообщения,
            которые он отправлял и получал, при этом Компания оставляет за собой право
            проверять содержание общения Пользователя на своих сайтах).
        </p>

        <p class=MsoNormal>
            1.3. Пользовательские данные – любая информация загруженная
            (внесенная) Пользователем в Продукты Компании.
        </p>

        <p class=MsoNormal>
            1.4. Иная информация о Пользователе, которую получает
            Компания исключительно в указанных в разделе 2 настоящих Условий о
            конфиденциальности целях.
        </p>



        <p class=MsoNormal>
            2. Цели сбора и обработки персональной информации
            пользователей
        </p>



        <p class=MsoNormal>
            Сбор, хранение и обработка указанной в разделе 1 настоящих
            Условий о конфиденциальности информации осуществляется исключительно в
            следующих конкретных целях:
        </p>



        <p class=MsoNormal>
            2.1. Для идентификации Пользователя при использовании
            Продуктов Компании;
        </p>

        <p class=MsoNormal>
            2.2. Для персонализации учета посещений (в том числе с целью
            предоставления персонализированных услуг Пользователю) и регистрации действий
            Пользователя Компания использует <span class=SpellE>Cookies</span>.
        </p>

        <p class=MsoNormal>
            2.3. Для осуществления взаимодействия с Пользователем в
            рамках заключенных с Компанией договоров или соглашений.
        </p>

        <p class=MsoNormal>
            2.4. Для проведение статистических и иных исследований на
            основе обезличенных данных (в <span class=SpellE><span class=GramE>т.ч</span></span><span class=GramE>.</span> для выяснения мнения Пользователей о различных продуктах и
            услугах, оказываемых Компанией).
        </p>



        <p class=MsoNormal>
            3. Условия обработки персональной информации пользователя и
            её передачи третьим лицам
        </p>



        <p class=MsoNormal>
            3.1. Хранение (в том числе изменение и удаление)
            персональной информации Пользователей осуществляется в соответствии с
            функциональным назначением конкретных Продуктов Компании, технической
            документацией к ним, а также Лицензионным соглашением на их использование.
        </p>

        <p class=MsoNormal>
            3.2. Раскрытие персональной информации третьим лицам
            осуществляется следующих случаях:
        </p>

        <p class=MsoNormal style='text-indent:35.4pt'>
            3.2.1. Пользователь
            заблаговременно выразил свое согласие на такое раскрытие.
        </p>

        <p class=MsoNormal style='text-indent:35.4pt'>
            3.2.2. Передача необходима для
            исполнения договора, стороной которого либо выгодоприобретателем или <span class=GramE>поручителем</span> по которому является Пользователь, а также для
            заключения договора по инициативе Пользователя или договора, по которому
            Пользователь будет являться выгодоприобретателем или поручителем.
        </p>

        <p class=MsoNormal style='text-indent:35.4pt'>
            3.2.3. Передача необходима для
            защиты прав и законных интересов Компании или третьих лиц в случаях, когда
            Пользователь нарушает авторские права Компании и/или соответствующее
            Лицензионное соглашение.
        </p>

        <p class=MsoNormal style='text-indent:35.4pt'>
            3.2.4. Передача необходима для
            осуществления правосудия, исполнения судебного акта, акта другого органа или
            должностного лица, подлежащих исполнению в соответствии с законодательством РФ
            об исполнительном производстве либо иных предусмотренных действующим
            законодательством РФ случаях.
        </p>

        <p class=MsoNormal>
            3.3. При обработке персональных данных пользователей
            1С-Битрикс руководствуется Федеральным законом РФ «О персональных данных».
        </p>



        <p class=MsoNormal>4. Ограничения ответственности</p>



        <p class=MsoNormal>
            4.1. Компания не инициирует размещение персональной
            информации при использовании Продуктов Компании, не контролирует ее
            достоверность и актуальность, однако Компания оставляет за собой право
            требовать подтверждения достоверности переданной ему информации Пользователем.
        </p>

        <p class=MsoNormal>
            4.2. При размещении (предоставлении Компании) персональной
            информации третьих лиц Пользователь гарантирует, что получил все необходимые
            разрешения и согласия на указанные действия, а также гарантирует полное и
            безоговорочное согласие этих лиц со всеми положениями с положениями настоящих
            Условий о конфиденциальности.
        </p>

        <p class=MsoNormal>
            4.3. Компания не может сохранить конфиденциальность
            персональной информации Пользователя, публичный доступ к которой предоставлен
            самим Пользователем в силу функциональных назначений соответствующего Продукта
            Компании; Пользователь соглашается с тем, что при использовании таких Продуктов
            определённая часть его персональной информации становится доступной для
            неограниченного круга лиц.
        </p>



        <p class=MsoNormal>5. Защита персональной информации</p>



        <p class=MsoNormal>
            Компания принимает необходимые правовые, организационные и
            технические меры или обеспечивает их принятие для защиты персональной
            информации от неправомерного или случайного доступа к ней, уничтожения,
            изменения, блокирования, копирования, предоставления, распространения
            персональной информации, а также от иных неправомерных действий в отношении
            персональной информации, в том числе:
        </p>



        <p class=MsoListParagraphCxSpFirst style='text-indent:-18.0pt;mso-list:l1 level1 lfo2'>
            <![if !supportLists]><span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'>
                <span style='mso-list:Ignore'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]>Использует RSA-шифрование в Продуктах Компании.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l1 level1 lfo2'>
            <![if !supportLists]><span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'>
                <span style='mso-list:Ignore'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]>Предоставляет при необходимости двухэтапную
            аутентификацию для доступа к учетной записи.
        </p>

        <p class=MsoListParagraphCxSpMiddle style='text-indent:-18.0pt;mso-list:l1 level1 lfo2'>
            <![if !supportLists]><span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'>
                <span style='mso-list:Ignore'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]>Осуществляет защиту авторизованных сессий.
        </p>

        <p class=MsoListParagraphCxSpLast style='text-indent:-18.0pt;mso-list:l1 level1 lfo2'>
            <![if !supportLists]><span style='font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol'>
                <span style='mso-list:Ignore'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span>
            </span><![endif]>Постоянно совершенствует способы сбора, хранения
            и обработки данных.
        </p>



        <p class=MsoNormal>6. Заключительные положения</p>



        <p class=MsoNormal>
            Настоящие Условия о конфиденциальности могут быть изменены
            Компанией в одностороннем порядке путем размещения их новой редакции в сети
            Интернет по адресу <span lang=EN-US style='mso-ansi-language:EN-US'>https://service-axatel.ru:8099/uslovie</span>. В случае расхождения Условий о
            конфиденциальности с положениями Лицензионного соглашения с Пользователем,
            преимущественную силу имеет Лицензионное соглашение.
        </p>



        <p class=MsoNormal>7. Контактная информация</p>
        <p class=MsoNormal>
            ЧП "Аксата",  Республика Беларусь
            220125, г. Минск, ул. Ложинская, д. 9, секция 1,
            Тел.: 375 (17) 388-04-55 Email: office@axata.by
        </p>

    </div>

</body>

</html>

